# Dependencies
node_modules
yarn.lock
package-lock.json

# Build outputs
build
dist
.next
out

# Logs
*.log

# Environment variables
.env
.env.local
.env.production

# Public assets
public/backtests/*.csv
